*{
    font-family: Roboto, Arial;
    font-weight: 500;
    margin: 0;
    padding: 0;
}
body{
    padding-top: 70px;
    padding-left: 70px;
    background-color: rgb(243, 239, 239);
}

.img_thumbnail{
    width: 100%;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 10px;
}
.div-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}
.div-channel{
    width: 45px;
    vertical-align: top;

}
.video-channel{
    width:45px;
    border-radius: 50%;
}
.div-card-video{
    width: 230px;
    display: inline-block;
}
.video_title{
    margin-top: 0;
    margin-bottom: 5px;
}
.video_author,
.video_view{
    margin-top: 0;
    margin-bottom: 0;
    color: rgb(117, 117, 117);
    font-size: 14px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 15px;
    padding: 15px;
}

.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom: 1px solid rgb(209, 209, 209);
    z-index: 10;
}

.left-section{
    width: 150px;
    display: flex;
    align-items: center;
}
.middle-section{
    flex:1;
    margin: 0px 30px 0px 70px;
    max-width: 500px;
    display: flex;
    align-items: center;
}
.right-section{

    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hamburger{
    height: 25px;
    margin: 0px 24px 0px 24px;
}
.youtube-logo{
    flex: 1;
    height: 20px;
}
.search_box{
    flex: 1;
    height: 40px;
    padding-left: 10px;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 2px;
    width: 0;
}
.search_box:placeholder{
    font-family: 'JetBrains Mono';
    font-size: 16px;
}
.search_icon{
    height: 42px;
    width: 67px;
    margin-left: -1px;
    margin-right: 8px;
    background-color: white;
    box-shadow: inset 1px 2px 3px rgb(228, 223, 223);
    border: 1px solid rgb(170, 170, 170);
    flex-shrink: 0;
}
.search-btn-icon{
    height: 25px;
    margin-top: 4px;
}
.voice_icon{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
}
.voice-btn-icon{
    margin-top: 4px;
    height: 25px;
}

.upload{
    height: 24px;
}

.not{
    height: 24px;
}
.apps{
    height: 24px;
}
.channel{
    height: 32px;
    border-radius: 16px;
    margin-right: 20px;
}

.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 70px;
    z-index: 101;
    padding-top: 15px;
}

.thumbnail{
    margin-bottom: 10px;
    position: relative;
}

.time{
    text-align: center;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 25px;
    right: 5px;
    padding: 2px;
    font-size: 13px;
    border-radius: 5px;
}

.noticications{
    position: relative;
}

.noticications_cnt{
    position: absolute;
    left: 13px;
    top:0;
    font-size: 10px;
    background-color: red;
    color: white;
    padding: 1px;
    width: 13px;
    text-align: center;
    border-radius: 50%;
}

.sidebar-link{
    background-color: rgb(255, 255, 255);
    height: 75px;
    margin-bottom: 1px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

}
.sidebar-link:hover{
    background-color: rgb(204, 204, 204);
}

.sidebar-link img{
    height: 24px;
}

.sidebar-link div{
    font-size: 10px;
}

.search{
    position: relative;
}

.search .search-tip{
    position: absolute;
    background-color: gray;
    color: white;
    left: 5px;
    top: 50px;
    padding: 3px;
    opacity: 0;
}
.search_icon:hover {
    opacity: 1;
}

@media (max-width:700px) {
    .grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:701px ) and (min-width:999px){
    .grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width:1000px) {
    .grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media (min-width:1200px) {
    .grid{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}